<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    <sectionGroup name="BotConfig">
      <section name="Config"               
               type="Ashscan.Bot.BotConfig, ashscan.Bot" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <BotConfig>
    <Config
      Nick="Aldebaran"
      Username="somestar"
      Fullname="six"
      BlackListedHostsPath="./Data/BlackListedHosts.txt"
      AbusiveWordsPath="./Data/AbusiveWords.txt"
      ToleranceLevel="5"
      Network="irc.dal.net"
      WatchedChannels="#boredom,#ash"
      ReportingChannel="#ashscantest"
      BotOperators="fahadash!uid44972@id-44972.tooting.irccloud.com,Diabolic!*boobzie@178.*"
      KickReason="Kicked"
      LongNickLength="20"
      Verbose="false"
      AutoReconnect="true"
      AutoReconnectTime="30"
      />
  </BotConfig>

</configuration>
